@import "../../index.scss";

@mixin text-background($color){
  text-align: center;
  background: $color;
}

%container {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1em;
  width: 225px;
  height: 38px;

}

%Button {
  font-size: 1em;
  font-family: "Manrope", serif;
  padding: 10px 0;
  border-radius: 30px;
  width: 100%;
  text-align: left;
  overflow: hidden;
  height: 38px !important;
  transition: 1s ease-in-out;
  span{
    position: relative;
    left: 0;
    top: -40px;
    color: white;
    font-size: 0.32em;
    transition: 1s ease-in-out;
    @media (max-width: 850px) {
      top: -29px;
    }
  }
}

.containerNav{
  @extend %container;
  transition: 1s ease-in-out;
  svg{
    position: absolute;
    left: 35px;
    transition: 1s ease-in-out;
  }


  &:hover{
    .hollow{
      transition: none;
      background: rgba(82, 80, 96, 0.3);
    }
    //.hollowClose{
    //  transition: none;
    //  background: rgba(25, 24, 31, 0.1);
    //}
    .hollowActive{
      transition: none;
      background: $colorThree;
    }
  }

  .hollow{
    @extend %Button;
    transition: width 1s ease-in-out;
    background: transparent;
    border: 1px solid $colorThree;
    border-radius: 24px;
    font-size: 1em;
    span{
      margin-left: 32%;
    }
    &Active{
      background: $colorThree;
    }
    &Close{
      svg{
        z-index: 4;
      }
      @extend .hollow;
      background: #19181F;
    }
  }

  @media (max-width: 851px) {
    transition: none;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    svg{
      transition: none;
      left: 7px;
      top: 7px;
      z-index: 1;
    }
    button{
      span{
        transition: none !important;
        left: 25px !important;
      }
    }
  }

  &NotBar{
    @media (max-width: 850px) {
      svg{
        left: 35px;
      }
      button{
        span{
          left: 0 !important;
        }
      }
    }
  }
}

.container{
  @extend %container;
  font-size: 1em;
  .orange{
    @extend %Button;
    @include text-background($colorTwo);
    font-size: 1em;
    border: 1px $colorTwo solid;
    transition: all .3s ease-in-out;
    &:hover{
      background: transparent;
    }
    &--forgot{
      @extend .orange;
    }
    &--subscribe{
      @extend .orange;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 140px;
      padding: 20px 0;
      span{
        top: 0;
      }
    }
  }

  .white{
    @extend %Button;
    @include text-background(white);
    transition: all .3s ease-in-out;
    &:hover{
      background: $colorTwo;
      span{
        color: white;
      }
    }
    span{
      transition: all .3s ease-in-out;
      color: black;
    }
  }

  @media (max-width: 650px) {
    width: 50%;
  }
  @media (max-width: 380px) {
    width: 70%;
  }
}


.containerClose{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  svg{
    left: 7px;
    top: 7px;
    z-index: 1;
  }
  button{
    span{
      left: 25px !important;
    }
  }
}

.CircleContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  border: 1px solid #525060;
  margin-left: 20px;
  @media (max-width: 400px) {
    margin-left: 7px;
  }
  &NotMargin{
    margin: 0;
  }
}
