@import "../../index.scss";

.Friends--List--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
  width: 100%;
  height: calc(100vh - 80px);
  overflow: hidden scroll;
  font-size: 1em;
  @media (max-width: 600px) {
    padding: 40px 0;
    height: calc(100vh - 80px - 70px);
    h1{
      margin: 0 0 40px 10px;
    }
  }
}

.Friends{
  display: flex;
  flex-direction: column;
  font-size: 1em;
  width: 77%;
  height: 100%;
  padding-bottom: 20px;
  @media (max-width: 1200px) {
    width: 100%;
  }
  .hidden--h40{
    min-height: 40px;
    width: 100%;
    @media (max-width: 600px) {
      display: none;
    }
  }
}


.Friends--Category--Container{
  position: relative;
  font-size: 0.32em;
  margin-top: 76px;
  @media (max-width: 1200px) {
    position: absolute;
    right: calc(40px + 1vw);
    top: 34vh;
    margin-top: 0;
  }
  @media (max-width: 850px) {
    top: 33vh;
  }
  @media (max-width: 600px) {
    right: 5px;
  }
  .Friends--Category{
    background: $colorFour;
    padding: 20px 40px 20px 25px;
    border: 1px solid $colorThree;
    border-top: none;
    cursor: pointer;
    &:last-child{
      border-radius: 0 0 20px 20px;
    }

    &:first-child{
      border-top: 1px solid $colorThree;
      border-radius: 20px 20px 0 0;
    }
    &:hover{
      background: $colorHoverOne;
    }
    &--Active{
      background: $colorThree;
      &:hover{
        background: $colorThree;
      }
    }
  }
}

.Friends--block{
  display: flex;
  flex-direction: column;
  background: $colorFour;
  border:1px solid $colorThree;
  border-radius: 20px;
  font-size: 1em;
  width: 100%;
  @media (max-width: 600px) {
    border-radius: 0;
    border: 0;
    border-top: 1px solid $colorThree;
  }

  &--header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    font-size: 1em;
    border-bottom: 1px solid $colorThree;
    @media (max-width: 600px) {
      padding: 17px 20px;
    }
    .block--header--title{
      font-size: 0.36em;
      font-weight: bold;
    }
    .block--header--parameters{
      display: flex;
      align-items: center;
      font-size: 0.32em;
      cursor: pointer;
      svg{
        margin-left: 10px;
      }
    }
  }
}