@import "../../index.scss";

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: .5s ease-in-out;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  &Hover{
    transform: scale(1.2);
    background: #19181F;
    z-index: 3;
  }

  .timing{
    position: absolute;
    top: 10.4vw;
    right: 8%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 5px 10px;
    font-family: "Manrope", serif;
    font-size: 12px;
    max-width: 52px;
    max-height: 22px;
    @media (max-width: 1000px) {
      top: 14vw;
    }
    @media (max-width: 850px) {
      top: 12.5vw;
      right: 8%;
    }
    @media (max-width: 800px) {
      top: 17.2vw;
      right: 8%;
    }
    @media (max-width: 700px) {
      top: 20.5vw;
      right: 8%;
    }
    @media (max-width: 600px) {
      top: 20.7vw;
      right: 8%;
    }
    @media (max-width: 500px) {
      top: 40vw;
      right: 8%;
    }
    @media (max-width: 350px) {
      top: 39vw;
      right: 8%;
    }
  }

  .favourity{
    position: absolute;
    top: 7%;
    right: 8%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 5px;
    z-index: 2;
    &:hover{
      cursor: pointer;
      svg{
        fill: white;
      }
    }
    svg{
      width: 20px;
      height: 20px;
    }
    @media (max-width: 850px) {
      top: 6%;
      right: 8%;
    }
  }

  @media (max-width: 1240px) {
    font-size: 14px;
  }
  @media (max-width: 850px) {
    font-size: 13px;
    &:hover{
      transform: scale(1);
      background: transparent;
    }
  }
  @media (max-width: 700px) {
    font-size: 15px;
  }
  @media (max-width: 500px) {
    font-size: 16px;
  }
  video{
    border-radius: 15px;
    width: 100%;
    height: 12vw;
    margin-bottom: 10px;
    @media (max-width: 1000px) {
      height: 16vw;
    }
    @media (max-width: 850px) {
      height: 15vw;
    }
    @media (max-width: 800px) {
      height: 20vw;
    }
    @media (max-width: 700px) {
      height: 24vw;
    }
    @media (max-width: 500px) {
      height: 45vw;
    }
  }
  .infContainer{
    width: 95%;
    .category{
      font-size: 0.875em; //14px от 16px
      color: $colorTwo;
      text-align: left;
      width: 100%;
      padding-bottom: 5px;
    }
    .title{
      font-weight: 700;
      font-size: 1em;
      line-height: 20px;
      width: 100%;
    }
    .timeAndViewsContainer{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-size: 0.875em;
      padding: 10px 0;
    }
    .authorContainer{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      font-size: 1em;
      cursor: pointer;
      .photo{
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
      .name{
        font-weight: 400;
        font-size: 0.875em;
        line-height: 127.6%;
        margin-left: 10px;
      }
    }
  }

}

.containerInline{
  @extend .container;
  flex-direction: row;
  align-items: center;
  background: $colorFour;
  height: auto;
  padding: 45px 35px;
  font-size: 1em;
  transition: none;
  margin-bottom: 20px;

  @media (max-width: 600px) {
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: 1px solid $colorThree;
    padding: 40px 10px;
    .count{
      display: none;
    }
  }

  @media (max-width: 400px) {
    flex-direction: column;
  }

  &:hover{
    transform: none;
    background: $colorHoverOne;
  }

  .videoCont{
    display: flex;
    position: relative;
    height: 100%;
    @media (max-width: 400px) {
      width: 100%;
    }
  }

  .video{
    margin: 0;
    height: 100%;
  }

  .favourity{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15px;
    right: 15px;
    width: 30px;
  }

  .timing{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.24em;
    bottom: 15px;
    right: 15px;
    top: auto;
   }

  .count{
    font-size: 0.36em;
    font-weight: bold;
    padding-right: 20px;
    opacity: 0.5;
  }

  .infContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1em;
    padding-left: 20px;
    height: 100%;

    @media (max-width: 400px) {
      padding: 20px 0 0;
    }

    .category{
      font-size: 0.32em;
    }

    .title{
      font-weight: bold;
      font-size: 0.36em;
    }

    .timeAndViewsContainer{
      font-size: 0.32em;
      justify-content: flex-start;
      .timeAgo{
        padding-left: 20px;
      }
    }

    .authorContainer{
      font-size: 1em;
      .name{
        font-size: 0.32em;
      }
    }
  }
}