@import "../../index.scss";

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  border-bottom: 2px solid #525060;
  background: $colorOne;
  font-size: 1em;
  .buttonContainer{
    display: flex;
    align-items: center;
    font-size: 1em;
    button{
      margin-left: 20px;
    }
  }
  @media (max-width: 350px) {
    padding: 15px 10px;
  }
}

.profileAndLangContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  //width: 220px;
  @media (max-width: 600px) {
    width: 160px;
  }
  &Mobile{
    @extend .profileAndLangContainer;
    width: 230px;
    @media (max-width: 600px) {
      width: 230px;
    }
  }
}