@import "../../index.scss";

.container{
  display: flex;
  align-items: center;
  font-size: 1em;
  padding: 20px 25px;
  border-bottom: 1px solid $colorThree;
  cursor: pointer;
  &:last-child{
    border-bottom: none;
  }

  @media (max-width: 600px) {
    padding: 20px;
  }
}

.photo{
  min-width: 70px;
  height: 70px;
  border-radius: 50% !important;
  &Null{
    @extend .photo;
    border: 1px solid $colorThree;
    svg{
      width: 65px;
      height: 70px;
      @media (max-width: 600px) {
        width: 47px;
        height: 50px;
      }
    }
  }
  @media (max-width: 600px) {
    min-width: 50px;
    height: 50px;
  }
}

.rightPart{
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin-left: 30px;
  flex-grow: 0.1;
  @media (max-width: 750px) {
    flex-grow: 0.05;
  }

  @media (max-width: 350px) {
    flex-grow: 0.1;
  }

  @media (max-width: 600px) {
    margin-left: 15px;
  }
  .name{
    font-size: 0.36em;
    font-weight: bold;
  }
  .buttonContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    margin-top: 15px;
    a{
      margin: 0;
    }
    .buttonNotAccept{
      padding: 6px 25px;
      font-size: 0.32em;
      background: transparent;
      color: white;
      border: 1px solid $colorThree;
      border-radius: 20px;
      &:hover{
        background: $colorHoverOne;
      }
    }
    .buttonAccept{
      @extend .buttonNotAccept;
      background: $colorThree;
    }
  }
}