@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
body {
  background: #1f1e27;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-reveal, input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.root {
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: "Manrope", serif;
  font-size: 50px;
}
@media (max-width: 850px) {
  .root {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .root {
    flex-direction: column-reverse;
  }
}
@media (max-width: 500px) {
  .root {
    font-size: 40px;
  }
}

.container, .containerSize {
  display: flex;
  align-items: center;
  position: relative;
  width: 40%;
}
.container .iconSearch, .containerSize .iconSearch {
  width: 24px;
}
.container input, .containerSize input {
  padding: 10px 55px 10px 33px;
  border: 1px solid #525060;
  border-radius: 24px;
  width: 100%;
  background: transparent;
  color: white;
  font-family: "Manrope", serif;
  font-size: 16px;
}
.container input::-webkit-search-cancel-button, .containerSize input::-webkit-search-cancel-button {
  appearance: none;
}
.container div:nth-child(even), .containerSize div:nth-child(even) {
  position: relative;
  right: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 24px;
}
@media (max-width: 600px) {
  .container div:first-child, .containerSize div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    border-radius: 50%;
    border: 1.5px solid #525060;
    width: 43px;
    height: 43px;
  }
}
@media (min-width: 1100px) {
  .container, .containerSize {
    margin-left: 20px;
  }
}
@media (max-width: 850px) {
  .container, .containerSize {
    width: 40%;
  }
}
@media (max-width: 700px) {
  .container, .containerSize {
    width: 45%;
  }
}
@media (max-width: 600px) {
  .container, .containerSize {
    width: 40%;
    justify-content: flex-end;
  }
}
@media (max-width: 400px) {
  .container, .containerSize {
    margin-left: 7px;
  }
}
.containerSize {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -80px;
  left: 0;
  width: 100vw;
  height: 78px;
  overflow: hidden;
  background: #1f1e27;
  z-index: 10;
  transition: top 0.8s ease-in-out;
  margin: 0;
  padding: 0 40px;
}
@media (max-width: 350px) {
  .containerSize {
    padding: 0 20px;
  }
}
.containerSize div:nth-child(even) {
  position: static;
  z-index: 10;
}
@media (max-width: 600px) {
  .containerSize div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    border-radius: 0;
    border: none;
    width: 60vw;
    height: auto;
  }
}
@media (max-width: 400px) {
  .containerSize div:first-child {
    width: 50vw;
  }
}
.containerSize div:first-child div {
  position: absolute;
  left: 59%;
}
@media (max-width: 400px) {
  .containerSize div:first-child div {
    left: 48%;
  }
}
@media (max-width: 350px) {
  .containerSize div:first-child div {
    left: 44%;
  }
}
.containerSizeActive {
  left: 0;
  top: 0;
}
.containerSizeActive input {
  width: 70%;
}
@media (max-width: 600px) {
  .containerSizeActive input {
    width: 100%;
  }
}

.modal {
  display: none;
  position: absolute;
  top: 70px;
  left: 28.5%;
  align-items: flex-start;
  justify-content: space-between;
  background: #1F1E27;
  border: 1px solid #525060;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  z-index: 5;
}
@media (max-width: 1350px) {
  .modal {
    left: 24%;
  }
}
@media (max-width: 1200px) {
  .modal {
    left: 20%;
  }
}
@media (max-width: 1100px) {
  .modal {
    left: 17%;
  }
}
@media (max-width: 1000px) {
  .modal {
    left: 14%;
  }
}
@media (max-width: 900px) {
  .modal {
    left: 11%;
  }
}
@media (max-width: 800px) {
  .modal {
    left: 8%;
  }
}
@media (max-width: 700px) {
  .modal {
    left: 5%;
  }
}
@media (max-width: 850px) {
  .modal {
    left: 5%;
  }
}
@media (max-width: 680px) {
  .modal {
    left: 0;
    width: 100vw;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #525060;
    box-shadow: none;
  }
}
@media (max-width: 600px) {
  .modal {
    flex-direction: column;
    align-items: center;
    height: 80.6vh;
  }
}
.modal .labelCont {
  display: flex;
  align-items: center;
  cursor: pointer;
  max-width: 100%;
  height: 16px;
}
.modal input[type=radio] {
  cursor: pointer;
  margin-right: 7px;
  transform: translateY(2px);
}
.modal input[type=radio]:after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #1F1E27;
  display: inline-block;
  visibility: visible;
  border: 2px solid #525060;
}
.modal input[type=radio]:checked:after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #525060;
  display: inline-block;
  visibility: visible;
  border: 2px solid #525060;
}
.modalActive {
  display: flex;
}
.modal .radioContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px;
  min-width: 200px;
}
.modal .radioContainer p {
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 127.6%;
  color: white;
}
.modal .radioContainer span {
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 127.6%;
  color: white;
}
.modal .radioContainer label {
  margin-bottom: 7px;
}
.modal .radioContainer hr {
  margin: 15px 0;
}

.containerSearchMessage, .containerSearchMessageMedia {
  display: flex;
  align-items: center;
  padding: 17px 28px;
  border-radius: 20px 20px 0 0;
  border: 1px solid #525060;
  background: #19181F;
  font-size: 16px;
}
.containerSearchMessage .parameters, .containerSearchMessageMedia .parameters {
  font-size: 1em;
  cursor: pointer;
}
.containerSearchMessage .parameters svg, .containerSearchMessageMedia .parameters svg {
  margin-left: 5px;
}
.containerSearchMessage input, .containerSearchMessageMedia input {
  padding: 0 0 0 20px;
  flex-grow: 1;
  background: transparent;
  color: white;
  font-family: "Manrope", serif;
  font-size: 1em;
}
.containerSearchMessage input::-webkit-search-cancel-button, .containerSearchMessageMedia input::-webkit-search-cancel-button {
  appearance: none;
}
@media (max-width: 500px) {
  .containerSearchMessage input, .containerSearchMessageMedia input {
    width: 50%;
    margin-right: 10px;
  }
}
.containerSearchMessage div, .containerSearchMessageMedia div {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .containerSearchMessageMedia {
    border-radius: 0;
    border: none;
    border-top: 1px solid #525060;
    padding: 17px 10px;
  }
}

.containerSearchFriends {
  font-size: 1em;
  width: 100%;
  padding: 20px 25px;
  border-bottom: 1px solid #525060;
}
.containerSearchFriends div {
  border-radius: 20px;
}
@media (max-width: 600px) {
  .containerSearchFriends {
    padding: 0;
  }
  .containerSearchFriends div {
    border-radius: 0;
    border: 0;
    padding: 17px 20px;
  }
  .containerSearchFriends div div {
    padding: 0;
  }
}

/*# sourceMappingURL=Search.module.css.map */
