@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');
$colorOne: #1f1e27;
$colorTwo: #FF4D00;
$colorThree: #525060;
$colorFour: #19181F;
$colorHoverOne: #2f2d38;
$success: #478D4B;
$error: #FF1F0F;
$formColor: #19181F;
$inputColor: #2B2A35;

body{background: $colorOne;}
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
*::-webkit-scrollbar{display: none;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-reveal,input::-ms-clear {display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none; color: white}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
