@import "../../index.scss";

.Animation--404{
  height: 75%;
  @media (max-width: 600px) {
    height: auto;
    width: 120vw;
  }
  @media (max-width: 500px) {
    width: 150vw;
  }
}

.NotFound--container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  width: 100%;
  overflow: hidden scroll;
  height: calc(100vh - 80px);
  font-size: 1em;
  @media (max-width: 600px) {
    justify-content: center;
  }
}

.NotFound--title2{
  font-size: 0.8em;
  font-weight: normal;
  width: 100%;
  text-align: center;
}